
@{
    ViewBag.Title = "CadGerente";
}


<h2>Gerenciar Gerentes de Projeto</h2>

<div class="jumbotron">
<h1>ASP.NET</h1>
<ul id="sortable1" class="connectedSortable">
    <li class="ui-state-default">Item 1</li>
    <li class="ui-state-default">Item 2</li>
    <li class="ui-state-default">Item 3</li>
    <li class="ui-state-default">Item 4</li>
    <li class="ui-state-default">Item 5</li>
</ul>

<ul id="sortable2" class="connectedSortable">
    <li class="ui-state-highlight">Item 1</li>
    <li class="ui-state-highlight">Item 2</li>
    <li class="ui-state-highlight">Item 3</li>
    <li class="ui-state-highlight">Item 4</li>
    <li class="ui-state-highlight">Item 5</li>
</ul>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg"> Salvar &raquo;</a></p>
</div>


